<!-- Header -->
<%- include("partials/header.ejs") %>  
<!-- Navigation bar --> 
<%- include("partials/navigation.ejs") %> 
    <main  class="main">
        <form class="contact-form" action="" method="POST">
            <h1>Contact Us</h1>
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Your message ..."></textarea>
            <button type="submit">Submit</button>
        </form>
    </main>
<!-- Footer -->
<%- include("partials/footer.ejs") %>